.section {
   &__about {
      padding: 50px 0 142px;
      overflow-x: hidden;
      @media (max-width: 600px){
         padding: 0 0 77px;
      }
   }
}
.about {
   position: relative;
   z-index: 0;
   max-width: 1325px;
   width: 100%;
   margin-right: auto;
   padding: 44px 70px 31px 143px;
   @media (max-width: 1240px){
      padding: 44px 50px 31px;
      max-width: fit-content;
      margin-right: 26px !important;
   }
   @media (max-width: 480px){
      padding: 47px 36px 29px 17px;
   }
   &::after {
      content: "";
      width: 100%;
      height: 100%;
      filter: drop-shadow(0px 4px 52px rgba(245, 245, 245, 0.17));
      background: #1e0c06;
      border-radius: 0 43px 43px 0;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: -1;
      @media (max-width: 768px) {
         border-radius: 0 14px 14px 0;
      }
   }
   .container {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: 768px){
         flex-direction: column;
      }
   }
   &__content {
      max-width: 516px;
      width: 100%;
      margin-right: 62px;
      @media (max-width: 992px){
         margin-right: 22px;
      }
      @media (max-width: 768px){
         margin-right: 0;
         margin-bottom: 47px;
      }
   }
   &__title {
      margin-bottom: 67px;
      @media (max-width: 600px){
         margin-bottom: 37px;
      }
   }
   &__img {
      width: 100%;
      @media (max-width: 992px){
         max-width: 250px;
      }
      @media (max-width: 768px){
         max-width: 100%;
      }
      img{
         width: 100%;
      }
   }
}
