<section class="section section__question">
   <div class="container">
      <div class="question">
         <h2 class="question__title title">Any questions?</h2>
         <div class="question__container">
            <form action="#" class="question__form formvalid">
               <input type="text" class="question__form-input text" placeholder="Your name">
               <input type="tel" class="question__form-input text" placeholder="Your telephone number">
               <textarea class="question__form-input question__form-textarea text"
                  placeholder="Your question"></textarea>
               <button type="submit" class="question__form-btn text bold btn">Send</button>
            </form>
            <div class="question__content">
               <p class="question__text text">Write to us and we will be sure to answer all your questions and give you
                  a comprehensive consultation.</p>
               <div class="question__img">
                  <img src="img/question-img.webp" alt="">
               </div>
            </div>
         </div>
      </div>
   </div>
</section>