<section class="section section__wood">
   <div class="container">
      <div class="wood">
         <h2 class="wood__title title">THE WOOD WE wood WITH</h2>
         <div class="wood__items">
            <div class="wood__item">
               <div class="wood__item-img">
                  <img src="img/oak.webp" alt="">
               </div>
               <h4 class="wood__item-title text bold">Oak</h4>
               <ul class="wood__item-list">
                  <li class="wood__item-text text check">Durability</li>
                  <li class="wood__item-text text check">Beautiful texture</li>
                  <li class="wood__item-text text check">Water resistance</li>
                  <li class="wood__item-text text cross">Expensive</li>
               </ul>
            </div>
            <div class="wood__item">
               <div class="wood__item-img">
                  <img src="img/buk.webp"  alt="">
               </div>
               <h4 class="wood__item-title text bold">Buk</h4>
               <ul class="wood__item-list">
                  <li class="wood__item-text text check">Durability</li>
                  <li class="wood__item-text text cross">Hard to handle</li>
               </ul>
            </div>
            <div class="wood__item">
               <div class="wood__item-img">
                  <img src="img/ash.webp" alt="">
               </div>
               <h4 class="wood__item-title text bold">Ash</h4>
               <ul class="wood__item-list">
                  <li class="wood__item-text text check">Durability</li>
                  <li class="wood__item-text text cross">Hard to handle</li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</section>