<section class="section section__price">
   <div class="container">
      <div class="price">
         <h2 class="price__title title">PRICE LIST</h2>
         <div class="work__swiper">
            <div class="swiper">
               <div class='swiper-container'>
                  <div class='swiper-wrapper'>
                     <div class='swiper-slide slide'>
                        <img src="img/price-img.webp" alt="">
                     </div>
                     <div class='swiper-slide slide'>
                        <img src="img/price-img.webp" alt="">
                     </div>
                     <div class='swiper-slide slide'>
                        <img src="img/price-img.webp"  alt="">
                     </div>
                  </div>
               </div>
            </div>
            <div class="swiper__buttons">
               <div class="swiper__btn swiper-prev"><img src="img/swiper-arrow.svg" alt=""></div>
               <div class="swiper__btn swiper-next"><img src="img/swiper-arrow.svg" alt=""></div>
            </div>
            <div class="swiper-pagination"></div>
         </div>
      </div>
   </div>
</section>