<section class="section section__advantages">
   <div class="container">
      <div class="advantages">
         <h2 class="advantages__title title">Advantages
            working with us</h2>
         <div class="advantages__container">
            <div class="advantages__img">
               <img src="img/advantages-img.webp" alt="">
            </div>
            <ul class="advantages__list">
               <li class="advantages__list-text text">In-house carpentry production</li>
               <li class="advantages__list-text text">We only treat wood with environmentally friendly and safe products
               </li>
               <li class="advantages__list-text text">Prices from the manufacturer, no extra charges</li>
            </ul>
         </div>
         <div class="advantages__button">
            <a href="#" class="advantages__btn text bold btn">Receive a consultation</a>
         </div>
      </div>
   </div>
</section>