<section class="section section__hero">
   <div class="hero">
      <div class="container">
         <div class="hero__content">
            <h1 class="hero__title title">Solid wood products</h1>
            <p class="hero__text">Oak, beech, ash from <span>1700 CZK</span> per m3</p>
            <a href="#" class="hero__btn text bold btn">Order</a>
         </div>
         <div class="hero__images">
            <div class="hero__img">
               <img src="img/hero-img1.webp" alt="">
            </div>
            <div class="hero__img">
               <img src="img/hero-img2.webp"  alt="">
            </div>
            <div class="hero__img">
               <img src="img/hero-img3.webp" alt="">
            </div>
         </div>
      </div>
   </div>
</section>