<html lang="@@lang">

	<head> 
		<!-- Meta -->
		<meta charset='UTF-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='robots' content='index, follow'>
		<meta name='author' content='Oliynyk Artem'>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="@@description">
		<meta name="keywords" content="@@keywords">
		<!-- Opengraph -->
		<meta property='og:title' content='@@title' />
		<meta property='og:description' content='@@description' />
		<meta property='og:type' content='website' />
		<meta property='og:url' content='' />
		<meta property='og:image' content='img/favicon/apple-touch-icon.webp' />
		<!-- CSS --> 
		<link rel='stylesheet' href='css/swiper-bundle.min.css'>
		<link rel="stylesheet" href="css/style.min.css">
		<!-- Favicon -->
		<link rel='apple-touch-icon' sizes='180x180' href='img/favicon/apple-touch-icon.webp' />
		<link rel='icon' type='image/png' sizes='32x32' href='img/favicon/favicon-32x32.webp' />
		<link rel='icon' type='image/png' sizes='16x16' href='img/favicon/favicon-16x16.webp' />
		<link rel='manifest' href='img/favicon/site.webmanifest' />
		 <meta name='msapplication-TileColor' content='#da532c' />
		<meta name='theme-color' content='#ffffff' />
		<!-- Title -->
		<title>@@title</title>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-2NZ3YBL2DC"></script>
	</head>