<nav>
  <div class="container">
    <div class="nav">
      <a href="index.html" class="nav__logo">
        <img src="img/logo.svg" alt="logo">
      </a>
      <div class="burger">
        <span></span>
      </div>
      <div class="nav__menu">
        <ul class="nav__list">
          <li><a href="work.html" class="nav__list-link">Gallery</a></li>
          <li><a href="price.html" class="nav__list-link">Prices for services</a></li>
          <li><a href="about.html" class="nav__list-link">About us</a></li>
          <li><a href="contact.html" class="nav__list-link">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>